body{
    font-family: 'Courier New', Courier, monospace;
}

.top{
    text-align: center;
    background-color: rgb(255, 209, 216);
    border-radius: 10px;
    height: 400px;
}

.top1{
    padding-top: 60px;
    font-size: 50px;
}

.column{
    float: left;
    width: 30%;
    padding: 5px;
}