body{
    font-family: 'Courier New', Courier, monospace;
}

.top{
    text-align: center;
    background-color: rgb(255, 209, 216);
    border-radius: 10px;
    height: 400px;
}

.top1{
    padding-top: 60px;
    font-size: 50px;
}

.column{
    float: left;
    width: 25%;
    height: 50%;
    padding: 20px;
    padding-left: 100px;
    padding-top: 30px;
}

.text{
    font-size: 20px;
    font-weight: bold;
}

.red{
    width: 40px;
    height: 40px;
    padding-left: 350px;
}